#container {
  width:100%;
  padding: inherit;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #E9FEC4;
}


#headline {
  padding-left: 10;
  padding-right: 10;
  padding-top: 5;
  padding-bottom: 7;
  text-align: center;
  font-family: 'Georgia', serif;
  font-weight: bold;
  font-size: 50px;
}

#byline {
  padding-left: 5;
  padding-right: 10;
  padding-top: 5;
  padding-bottom: 7;
  text-align: center;
  font-family: 'Georgia', serif;
  font-size: 25px;
}



p {
  padding-left: 5;
  padding-right: 5;
  padding-top: 5;
  padding-bottom: 5;
  font-family: 'Barlow', sans-serif;
  font-size : 15px;
}


strong {
  font-size: 40px;
  padding: inherit;
  font-family: 'Georgia', serif;
  color: green;
}

.pullquote-top {
  font-weight: bold;
  padding-bottom: 20px;
  font-size: 35px;
color: green;
font-style: italic;
}

.pullquote-bottom {
  padding-bottom: 20px;
  font-weight: normal;
  font-size: 30px;
}



#update {
  font-style: italic;
}

/* Media Queries */


@media(max-width:700px) {
  .navbar-expand-lg navbar-dark bg-dark {
      float: none;
      width: 100%;
    }


    .hero-hed {
      font-size:1.5em;
    }

  }








figcaption {
  font-family: 'Georgia', serif;
}

.header {
  padding: 60px;
  text-align: center;
  background: black;
  color: white;
  font-size: 30px;
}

/* Tophat */

.nav-logo {
  color:#fff;
  margin:0 auto;
  font-weight:700;
  text-transform:uppercase;
}

.green {
  color: green;
}

/* Splash area */

.hero-container {
  position: relative;
  text-align:center;
  color:white;
  }

.hero-image {
  width:100%;
}

.overlay {
  position: absolute;
  top:20%;
  width:100%;
  background-color: black;
  opacity:.7;
  color: white;
}


.hero-hed {
  font-family: 'Georgia', serif;
  margin:0 auto;
  font-size: 6em;
  text-align: center;
  padding-bottom: 10px;
}

.hero-sub {
  font-family: 'Barlow', sans-serif;
  font-size:.25em;
}


#graphic {
  display: block;
  margin-left: 50px;
  margin-right: 50px;
  width: 50%;
  float: right;
}
