body {
background-color: #FCEED8;
}

p {
  font-family: Georgia;
  font-size: 16 px;
}

h2 {
  font-family: Georgia;
  font-size: 30 px;
}



#btn{
  color: #DEB48E;
}

h1 {
  font-family: Georgia;
  font-size: 50 px;
  text-align: center;
}
