h1 {
font-weight: bold;
font-size: 60px;
font-family: Georgia, serif;
}

#content {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

h2 {
  font-weight: bold;
  font-size: 30px;
  font-family: Georgia, serif;
}

p {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}

img {
  width: 800px;
  height: 700px;
}

#byline {
  font-size: 14px;
  font-style: italic;
  font-family: Helvetica, sans-serif;
}

blockquote {
  font-size: 40px;
}
